<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.moviemn.mapper.TbMovieSeriesMapper">
  <resultMap id="BaseResultMap" type="com.moviemn.bean.TbMovieSeriesEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="src_url" jdbcType="VARCHAR" property="srcUrl" />
    <result column="create_date" jdbcType="DATE" property="createDate" />
    <result column="update_date" jdbcType="DATE" property="updateDate" />
    <result column="movie_id" jdbcType="INTEGER" property="movieId" />
    <result column="file_name" jdbcType="VARCHAR" property="fileName" />
    <result column="order" jdbcType="VARCHAR" property="order" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
  </resultMap>
  <sql id="Base_Column_List">
    id, src_url, create_date, update_date, movie_id, file_name, order, desc
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_movie_series
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_movie_series
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.moviemn.bean.TbMovieSeriesEntity">
    insert into tb_movie_series (id, src_url, create_date, 
      update_date, movie_id, file_name, 
      order, desc)
    values (#{id,jdbcType=INTEGER}, #{srcUrl,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateDate,jdbcType=DATE}, #{movieId,jdbcType=INTEGER}, #{fileName,jdbcType=VARCHAR}, 
      #{order,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.moviemn.bean.TbMovieSeriesEntity">
    insert into tb_movie_series
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="srcUrl != null">
        src_url,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="movieId != null">
        movie_id,
      </if>
      <if test="fileName != null">
        file_name,
      </if>
      <if test="order != null">
        order,
      </if>
      <if test="desc != null">
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="srcUrl != null">
        #{srcUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=DATE},
      </if>
      <if test="movieId != null">
        #{movieId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        #{order,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.moviemn.bean.TbMovieSeriesEntity">
    update tb_movie_series
    <set>
      <if test="srcUrl != null">
        src_url = #{srcUrl,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=DATE},
      </if>
      <if test="movieId != null">
        movie_id = #{movieId,jdbcType=INTEGER},
      </if>
      <if test="fileName != null">
        file_name = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.moviemn.bean.TbMovieSeriesEntity">
    update tb_movie_series
    set src_url = #{srcUrl,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=DATE},
      update_date = #{updateDate,jdbcType=DATE},
      movie_id = #{movieId,jdbcType=INTEGER},
      file_name = #{fileName,jdbcType=VARCHAR},
      order = #{order,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>